<%- include('./partials/head') %> 

<body>
	<!-- Header -->
	
	<% if( user.log ){ %>
		<%- include('./partials/headerLogueado') %>
		<%} else { %>
		<%- include('./partials/header') %>
		<% } %>

	
	<!-- Banner -->
	<div class="banner">
		<img src="images/bannerlibros.jpg" alt="Banner">
	</div>
	<!-- /Banner -->


	  
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			
			<% for( let index = 0; index < 4; index++ ) { %>
			
			
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product/id/<%= product[index].id %>">
						<figure class="product-box_image">
							<img src="images/products/<%= product[index].img %> " alt="La Tia Cosima">
						</figure>
						<article class="product-box_data">
							<h2><%= product[index].productName %> </h2>
							<p><%= product[index].productDescription %></p>
						</article>
					</a>
				</section>
			</div>
			<% } %>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let index = 4; index < 8; index++ ) { %>
			
			
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/id/<%= product[index].id %> ">
							<figure class="product-box_image">
								<img src="images/products/<%= product[index].img %> " alt="La Tia Cosima">
							</figure>
							<article class="product-box_data">
								<h2><%= product[index].productName %> </h2>
								<p><%= product[index].productDescription %></p>
							</article>
						</a>
					</section>
				</div>
				<% } %>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>	
</html>