<%- include('./partials/head') %> 
<body>
	<!-- Header -->
	
	<!-- /Header -->
	<% if( user.log ){ %>
		<%- include('./partials/headerLogueado') %>
		<%} else { %>
		<%- include('./partials/header') %>
		<% } %>
	
    
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.productName %> </h2> 
			<p class="product-detail-description">
				<% if(user.id == product.user.id){ %> 
					<p class="product-detail-description">
						<a href="/product/editproduct/<%= product.id%>">Editar</a>
					</p>
				<% } %> 
			
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/<%= product.img %> " alt="" class="product-detail-img">
					<p class="product-detail-description">
						<%= product.productDescription %> </p>
				</article>
				
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% product.comments.forEach(element => { %>
						<article>
							<img src="/images/products/<%= product.img %> " alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/user"><%= element.user.username %> : </a> </strong>
								<%= element.comment %> </p>
							</div>
						</article>
						<% }) %>
					

					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->

</body>	
</html>