<!DOCTYPE html>
<html lang="es">

<head>
	<title>
		<%=busqueda%> | Busqueda en Catalogo</title>

	<link rel="stylesheet" href="/stylesheets/css/search.css">
</head>

<body>


	<section class="maincontent">

		<div class="resultadoyordenar">
			<h2>Buscar:<span class="busqueda"><%=busqueda%></span></h2>


		</div>

		<div class="todoelsearch">


			<div class="resultados">




				<% producto.forEach(element => {%>
				<% if (producto.length > 0 ){ %>

				<a href="/productos/detalle/<%=element.id%>?id=<%=element.id%>">
					<div class="product">
						<div class="fotos"> <img src="/images/products/<%=element.img%>">
						</div>
						<h3>
							<%=element.productName%>
						</h3>
						<h6>

						</h6>


					</div>
				</a>


				<% } else { %>
				<div class="sinResultados">
					<h5>No se han encontrado productos.</h5>
					<h5>Probá con otro termino de busqueda.</h5>
				</div>
				<% }} )%>

			</div>
	</section>

</body>

</html>